<div>
    <form>
        <label> Your Name: </label>
        <input type='text' name='survey[name]'>
        <label> Dojo Location: </label>
        <select name='survey[location]'>
            <option value='San Jose'> San Jose </option>
            <option value='Seattle'> Seattle </option>
            <option value='Burbank'> Burbank </option>
            <option value='Dallas'> Dallas </option>
            <option value='Tulsa'> Tulsa </option>
            <option value='Washingont D.C.'> Washingont D.C. </option>
            <option value='Chicago'> Chicago </option>
        </select>
        <label> Favorite Language: </label>
        <select name='survey[language]'>
            <option value='JavaScript'> JavaScript </option>
            <option value='Java'> Java </option>
            <option value='Swift'> Swift </option>
            <option value='Python'> Python </option>
            <option value='C++'> C++ </option>
            <option value='Ruby'> Ruby </option>
        </select>
        <label> Comment (optional) </label>
        <textarea cols="50" rows="5" name='survey[comment]'>
        </textarea>
        <button> Submit </button>
    </form>
</div>