* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 20%;
    border: 2px solid teal;
}

h1 {
    text-decoration: underline;
}

.display_containers {
    width: inherit;
}

label, p {
    display: inline-block;
    font-size: 21px;
    vertical-align: bottom;
}

label {
    width: 100px;
}

.go_back {
    margin-top: 5px;
}

